/* Mengatur font dasar untuk seluruh halaman */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333; /* Warna teks */
    background-color: #f4f4f4; /* Warna latar belakang halaman */
}

/* Header styles */
header {
    background: #005792; /* Warna latar belakang header */
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

.profile-pic {
    width: 120px; /* Ukuran gambar profil yang lebih kecil */
    height: 120px;
    border-radius: 50%; /* Bulat */
    display: block;
    margin: 0 auto; /* Pusatkan gambar */
}

h1 {
    margin: 10px 0;
}

/* Styles untuk sections */
section {
    padding: 20px;
    margin: 0 10%;
    background: #ffffff; /* Latar belakang untuk setiap bagian */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Bayangan kotak */
}

/* Judul untuk setiap section */
h2 {
    color: #0077cc; /* Warna untuk judul section */
}

/* Style untuk teks di dalam section */
p {
    text-align: justify;
}

/* Mengatur gambar project dan certificate */
.project-image, .certificate {
    display: block;
    width: 70%; /* Lebar gambar yang lebih kecil */
    margin: 10px auto; /* Pusatkan gambar secara vertikal dan horizontal */
    border-radius: 10px; /* Sudut bulat */
}

/* Footer styles */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.contact-icons {
    margin-top: 10px;
}

.contact-icons a {
    color: #fff;
    margin: 0 10px;
}

.fas, .fab { /* Ikuti perubahan ukuran dan warna icon */
    color: #4CAF50; /* Warna icon */
}
